#set($title="室内系统")
#set($treeIndex="0")
#set($catagory_name="系统概览")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">室内系统</span>
                </div>
            </div>
            <div class="portlet-body" id="myImage">
                <div style="display:none">
                    <img src="/assets/images/inroom.jpg" id="myCopyImage">
                </div>
                <!-- 添加canvas标签，并加上红色边框以便于在页面上查看 -->
                <canvas id="myCanvas" style="border: 1px solid red;width:100%;height:100%">
                    您的浏览器不支持canvas标签。
                </canvas>
            </div>
        </div>
    </div>
</div>

<!--[if lt IE 9]>
<script src="/assets/global/plugins/respond.min.js"></script>
<script src="/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->



#include("layout/footer.vm")
#include("layout/corescript.vm")
#parse("layout/common.vm")

<script type="text/javascript">

    var index = "$!{treeIndex}";
    $(".sub-menu").parent(".open").removeClass("active").removeClass("open");
    $(".sub-menu").eq(index).parent().addClass("active").addClass("open");
    var canvas = document.getElementById("myCanvas");
    var ctxs;
    canvas.width = $("#myCopyImage").parent().width();
    canvas.height = $("#myCopyImage").parent().height();
    var img = new Image();
    //简单地检测当前浏览器是否支持Canvas对象，以免在一些不支持html5的浏览器中提示语法错误
    if(canvas.getContext){
        //获取对应的CanvasRenderingContext2D对象(画笔)
        ctx = canvas.getContext("2d");

        //创建新的图片对象
        //指定图片的URL
        img.src = "/assets/images/inroom.jpg";
        //浏览器加载图片完毕后再绘制图片

    }
    function myClickHandler()
    {
        ctx.drawImage(img, 10, 10);
        ctx.fillText(Math.round(20+Math.random()*10)+"度", 150, 340);
        ctx.fillText(Math.round(20+Math.random()*10)+"度", 310, 240);
        ctx.fillText(Math.round(20+Math.random()*10)+"度", 405, 60);
        ctx.fillText(Math.round(20+Math.random()*10)+"度", 500, 285);

        //发送Ajax请求更新数据
        $.ajax({
            url:"/data/queryTem",
            type:"POST",
            data:{
                "sensorId":"T0001",
                "queryDate":new Date().pattern("yyyy-MM-dd hh:mm:ss")
            },
            success:function(data){
                if(data.success)
                {
                    //更新数据操作
                    ctx.fillText(Math.round(20+Math.random()*10)+"度", 150, 340);
                }
            }
        });
    }
    myClickHandler();
    setInterval(myClickHandler,6000);
</script>