#set($title="建筑环境能耗智能管理系统")
<style type="text/css">
.mySlide .item {
    display: block;
    /* undo display:none*/
    height: 0;
    /* height:0 is also invisible */
    overflow-y: hidden;
    /* no-overflow*/
}

.mySlide .current {
    display: block;
    height: auto;
}
</style>
<body>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">总能耗</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="echarts_bar4" style="height:500px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">分项计量能耗</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="myCarousel" class="mySlide">
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel">
                        <div class="item current">
                            <div id="echarts_bar" style="height:500px;"></div>
                            <div class="carousel-caption">第一天</div>
                        </div>
                        <div class="item">
                            <div id="echarts_bar2" style="height:500px;"></div>
                            <div class="carousel-caption">第二天</div>
                        </div>
                        <div class="item">
                            <div id="echarts_bar3" style="height:500px;"></div>
                            <div class="carousel-caption">第三天</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">总能耗</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="echarts_bar5" style="height:500px;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">分项计量能耗</span>
                </div>
            </div>
            <div class="portlet-body">
                <div id="myCarousel" class="mySlide">
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel">
                        <div class="item current">
                            <div id="echarts_bar6" style="height:500px;"></div>
                            <div class="carousel-caption">第一天</div>
                        </div>
                        <div class="item">
                            <div id="echarts_bar2" style="height:500px;"></div>
                            <div class="carousel-caption">第二天</div>
                        </div>
                        <div class="item">
                            <div id="echarts_bar3" style="height:500px;"></div>
                            <div class="carousel-caption">第三天</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/global/plugins/echarts/echarts-all.js" type="text/javascript"></script>
<script src="/assets/pages/scripts/charts-echarts.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/assets/pages/scripts/mySlide.js"></script>
<!-- END THEME LAYOUT SCRIPTS -->
<script type="text/javascript">
$('.mySlide').mySlidePlugin();
</script>
           